html, body{
  margin: 0;
  padding: 0;    
}
body{
  width: 400px;
  height: 500px;    
}
a{
  text-decoration: none;
  color: white;
}
.header{
  margin: 0;
  height: 40px;
  line-height: 40px; 
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #4dc071;
}
.popup-content{
  padding: 20px;
  height: 460px;
  overflow: auto;
}
.record-header-span{
  display: inline-block;
  font-size: 14px;
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.record-ol{
  margin: 10px 0;
}
.record-ol li{
  padding: 4px 0;
  font-size: 14px;
  color:#6a7955;
  word-wrap: break-word;
}
.record-ol li{
  border-bottom: 1px dashed #d5f4db;
}
.icon-delete{
  float: right;
  font-size: 16px;
  color: #d5e8e4;
  vertical-align: top;
  cursor: pointer;
}
.icon-delete:hover{
  color: #93c4ba;
}
.icon-delete:active{
  color: #5ca698;
}
.icon-add-label{
  font-size: 14px;
  color: #fff;
  background-color: #d5e8e4;
  border-radius: 4px;
  cursor: pointer;
}
.icon-add-label:hover{
  background-color: #93c4ba;
}
.icon-add-label:active{
  background-color: #5ca698;
}
.label-item{
  font-size: 12px;
  color: #93c4ba;
}
.label-list label{
  padding: 0 4px;
  font-size: 12px;
  background-color: #7fe0ed;
  color: #fff;
  border-radius: 4px;
}
.footer{
  padding: 8px 0;
  text-align: center;
  color: #95a57e;
  border-top: 1px dashed #d5f4db;
}
.content-tip{
  color: #95a57e;
}